<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Title Page-->
    <title>{{ test_case_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/img/favicon.ico"/>


    <!-- Icons font CSS-->
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css') }}"
          rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet"
          media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/datepicker/daterangepicker.css') }}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">

</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-lg nav-fixed">
    <a class="navbar-brand" href="/suites">
        <img src="{{ url_for('static', filename='img/running.svg') }}" width="30" height="30"
             class="d-inline-block align-top" alt="">
        TRunner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" id="saveResult">Save<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#" id="saveResultClose">Save and Close<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="https://dev.azure.com/HAL-LMKRD/RESDEV/_workitems/create/bug">Report a Bug<span
                    class="sr-only"></span></a>
        </li>
    </ul>
    <div class="navbar-collapse collapse  order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link"><span class="help-icon" tabindex="0" data-toggle="popover" data-trigger="focus"
                                          data-content="💬️ Comment: Double-click on step
                                                                        <br />📝️ Edit Step: Alt+Click
                                                                        <br />📕️ Disable edit mode: Double-click"
                                          data-html="true"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="backToSuite" href="">Back to Suite<span class="sr-only"></span></a>
            </li>

        </ul>
    </div>
</nav>

<div class="container-fluid">
    <ul class='custom-menu'>
        <li data-action="edit-step">✏️ &nbsp;Edit</li>
        <li data-action="add-before" class="upper-border">⬆️ &nbsp;Add step before</li>
        <li data-action="add-after">⬇️ &nbsp;Add step after</li>
        <li data-action="delete-step" class="upper-border">🗑️ &nbsp;Delete step</li>
    </ul>
    <div class="row mt-2 mb-2 div-fixed" style="background: #fff; z-index: 90;">
        <div class="col-md-10" style="font-weight: 400; font-size: 16px">{{ ado_id }} - {{ test_case_name }}</div>
        <div id='saveSuccess' class="inner success-save" style="display: none">Saved</div>
        <div class="col-md-2">
            <select id="testStatus" class="form-control float-right"
                    style="width:65% ;border: none; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; background: #fff; z-index: 100;">
                <option>💬</option>
                <option value="passed">✅ &nbsp;Passed</option>
                <option value="failed">❌ &nbsp;Failed</option>
                <option value="blocked">🚫 &nbsp;Blocked</option>
                <option value="pause">⏸ &nbsp;Pause</option>
            </select>
        </div>
    </div>
    <div class="shifted">
        <table class="table table-hover" id="tbl1">
            <col width="3%"/>
            <col width="90%"/>
            <col width="5%"/>
            {% for step_data in steps_data_list %}
                <tr class="clickable-row">
                    <td>{{ step_data[0] }}</td>
                    <td class="step">
                        <div class="action action-result"
                             style="white-space: pre-line; min-height: 15px;">{{ step_data[1] | safe }}</div>
                        <div class="expected action-result"
                             style="white-space: pre-line">{{ step_data[2] | safe }}</div>
                        {% if step_data[4] == None or step_data[4] == "" %}
                            <div class style="display: none">
                                <br/><label for="exampleFormControlTextarea1">Comment:</label>
                                <textarea class="form-control comment" id="exampleFormControlTextarea1"
                                          rows="3"></textarea>
                            </div>
                        {% else %}
                            <div class style="display: block">
                                <br/><label for="exampleFormControlTextarea1">Comment:</label>
                                <textarea class="form-control comment" id="exampleFormControlTextarea1"
                                          rows="3">{{ step_data[4] }}</textarea>
                            </div>
                        {% endif %}
                        {#                            <div class="tc-attachments" style="display: block">#}
                        {#                                <img class="attachment" src="/../img/pic.jpg">#}
                        {#                                <img class="image-full" src="/../img/pic.jpg">#}
                        {##}
                        {#                                <img class="attachment" src="/../img/pic.jpg">#}
                        {#                                <img class="image-full" src="/../img/pic.jpg">#}
                        {#                            </div>#}
                    </td>
                    <td class="selector">
                        <div class="btn-group btn-group-toggle {{ step_data[3] }}" data-toggle="buttons">
                            <label class="btn btn-passed" id="passed_label">
                                <input type="radio" name="options" id="passed" autocomplete="off" value=""> Passed
                            </label>
                            <label class="btn btn-failed" id="failed_label">
                                <input type="radio" name="options" id="failed" autocomplete="off"> Failed
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="contextMenu" class="dropdown clearfix" style="position: absolute;display: none;">
        <ul class="list-group dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
            style="display:block;position:static;margin-bottom:5px;">
            {#            <li class="list-group-item"><a tabindex="-1" href="" id="leaveComment">Leave comment</a></li>#}
            <li class="list-group-item">
                <button tabindex="-1" id="leaveComment">Leave comment</button>
            </li>
        </ul>
    </div>

</div>
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script crossorigin="anonymous" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    let startTime;
    let stopTime;
    let testRunDuration;
    //Check if user has the access to the test case in ADO
    let userHasAdoAccess = '';
    let testCaseId = /[^/]*$/.exec(window.location.href)[0];
    $(document).ready(function () {
        var data = {"tcid": testCaseId};
        $.ajax({
            url: "/checkaccess/" + testCaseId,
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json'
        }).done(function (responseData) {
            console.log('User have ADO access');
            userHasAdoAccess = true;
        }).fail(function () {
            console.log('User does not have ADO access');
            userHasAdoAccess = false;
        });

        startTime = Date.now()
    });
</script>
<script>
    (function ($) {
        var defaults = {
            threshold: 1000, // ms
        }

        function tripleHandler(event) {
            var $elem = jQuery(this);

            settings = jQuery.extend({}, defaults, event.data);

            var clicks = $elem.data("triclick_clicks") || 0;
            var start = $elem.data("triclick_start") || 0;

            if (clicks === 0) {
                start = event.timeStamp;
            }

            if (start != 0
                && event.timeStamp > start + settings.threshold) {
                clicks = 0;
                start = event.timeStamp;
            }

            clicks += 1;
            if (clicks === 3) {
                clicks = 0;
                start = 0;
                event.type = "tripleclick";

                if (jQuery.event.handle === undefined) {
                    jQuery.event.dispatch.apply(this, arguments);
                } else {
                    jQuery.event.handle.apply(this, arguments);
                }
            }

            $elem.data("triclick_clicks", clicks);
            $elem.data("triclick_start", start);
        }

        var tripleclick = $.event.special.tripleclick =
            {
                setup: function (data, namespaces) {
                    $(this).bind("touchstart click.triple", data, tripleHandler);
                },
                teardown: function (namespaces) {
                    $(this).unbind("touchstart click.triple", tripleHandler);
                }
            };
    })(jQuery);
    {#TODO: change triple click to another event#}

    $(".action-result").on("click", function (e) {
        if (e.altKey) {
            if (userHasAdoAccess == true) {
                $(this).attr("contenteditable", "true");
                $(this).addClass("edited");
                let clickedDiv = $(this);
            } else {
                alert("You cannot update this test case in ADO.\nPlease, check you permissions and try again");
            }
        }
    });
    $(".action-result").on("dblclick", function (e) {
        if (($(this).attr('contenteditable') === 'true') && $(this).hasClass("edited")) {
            $(this).attr("contenteditable", "false");
        }
    });
</script>
<script>
    $('input[type=radio]').on('click', function () {
        let tableRowsNumber = $('tr').length;
        let passed = 0;
        let failed = 0;

        $('#tbl1 tr').each(function (index) {
            $(this).find('#passed_label').each(function () {
                if ($(this).hasClass('active')) {
                    passed += 1;
                }
            })
            $(this).find('#failed_label').each(function () {
                if ($(this).hasClass('active')) {
                    failed += 1;
                }
            })

        })

        if ((failed === 0) && (passed === tableRowsNumber)) {
            $('#testStatus').val("passed").change();
        } else if ((failed === 0) && (passed != tableRowsNumber)) {
            $('#testStatus').val("pause").change();
        }


    });
</script>
<script>
    $('.navbar-brand').click(function () {
        // escape here if the confirm is false;
        if (!confirm('Want to leave the test run?')) return false;
        var btn = this;
        window.location.href = '/suites';
        return true;
    });
</script>
<script>
    $('input[type=radio][id=failed]').change(function () {
        $('#testStatus').val("failed").change();
    });
</script>
<script>
    $(window).resize(function () {
        $('div-fixed').css('padding-top', parseInt($('#nav-fixed').css("height")));
    });
</script>
<script>
    $('#tbl1 tr').each(function (index) {
        $(this).find('.selector').each(function () {
            $(this).find('div.btn-group-toggle').each(function () {
                if ($(this).hasClass('Failed')) {
                    $(this).find('input[id="failed"]').each(function () {
                        $(this).attr("checked", "checked")
                    });
                } else if ($(this).hasClass('Passed')) {
                    $(this).find('input[id="passed"]').each(function () {
                        $(this).attr("checked", "checked")
                    });
                }
            })
        })
    })
</script>
<script>
    $('#tbl1').on('dblclick', 'td.step', function () {
        $(this).find('div:nth-child(3)').css('display', 'block')
    });

    $('.help-icon').popover();

</script>
<script>
    $('#backToSuite').attr("href", window.location.href.substr(0,
        window.location.href.lastIndexOf("/"))
        .replace("run", "cases"))
</script>
<script>
    $("#saveResult").click(function () {

        stopTime = Date.now()
        testRunDuration = Math.round((stopTime - startTime) / 1000).toString();
        let is_changed = 'False';

        testResults = {};
        testCaseOutcomeDirty = $('#testStatus').val();
        if (testCaseOutcomeDirty == 'passed') {
            testCaseOutcome = 'Passed';
        } else if (testCaseOutcomeDirty == 'failed') {
            testCaseOutcome = 'Failed';
        } else if (testCaseOutcomeDirty == 'blocked') {
            testCaseOutcome = 'Blocked';
        } else if (testCaseOutcomeDirty == 'pause') {
            testCaseOutcome = 'Pause';
        }


        $('#tbl1 tr').each(function (index) {
            var comment = ""
            $(this).find('.comment').each(function () {
                if ($(this).val().length !== 0) {
                    comment = $(this).val();
                }
            })

            let edited_action = "";
            let edited_expected = "";
            if (userHasAdoAccess) {
                $(this).find('.edited').each(function (i, element) {
                    if ($(this).hasClass("action")) {
                        edited_action = $(this).html()
                        is_changed = 'True'
                    } else {
                        is_changed = 'True'
                        edited_expected = $(this).html()
                    }
                })
            }

            testResults['testResult'] = {outcome: testCaseOutcome, duration: testRunDuration, is_changed: is_changed};

            {#let isPassed = false;#}
            {#let isFailed = false;#}
            $(this).find('#passed_label').each(function () {
                if ($(this).hasClass('active')) {
                    {#isPassed = true;#}
                    testResults[index] = {
                        stepNum: index + 1,
                        outcome: 'Passed',
                        comment: comment,
                        editedAction: edited_action,
                        editedExpected: edited_expected
                    }
                }
            })
            $(this).find('#failed_label').each(function () {
                if ($(this).hasClass('active')) {
                    {#isFailed = true;#}
                    testResults[index] = {
                        stepNum: index + 1,
                        outcome: 'Failed',
                        comment: comment,
                        editedAction: edited_action,
                        editedExpected: edited_expected
                    }
                }
            })

        })

        let testCaseId = window.location.href.substr(window.location.href.lastIndexOf("/")).replace("/", "")
        $.ajax("/save_test_result/" + testCaseId, {
            data: JSON.stringify(testResults),
            contentType: 'application/json',
            type: 'POST',
            success: function () {
                $("#saveSuccess").css('display', 'flex')
                $("#saveSuccess").fadeOut(3000)
            }
        })

    })
</script>
<script>
    $("#saveResultClose").click(function () {
        stopTime = Date.now()
        testRunDuration = Math.round((stopTime - startTime) / 1000).toString();
        let is_changed = 'False';

        testResults = {};
        testCaseOutcomeDirty = $('#testStatus').val();
        if (testCaseOutcomeDirty == 'passed') {
            testCaseOutcome = 'Passed';
        } else if (testCaseOutcomeDirty == 'failed') {
            testCaseOutcome = 'Failed';
        } else if (testCaseOutcomeDirty == 'blocked') {
            testCaseOutcome = 'Blocked';
        } else if (testCaseOutcomeDirty == 'pause') {
            testCaseOutcome = 'Pause';
        }

        $('#tbl1 tr').each(function (index) {
            let comment = "";
            $(this).find('.comment').each(function () {
                if ($(this).val().length !== 0) {
                    comment = $(this).val();
                }
            })

            let edited_action = "";
            let edited_expected = "";
            if (userHasAdoAccess) {
                $(this).find('.edited').each(function (i, element) {
                    if ($(this).hasClass("action")) {
                        is_changed = 'True';
                        edited_action = $(this).html()
                    } else {
                        is_changed = 'True';
                        edited_expected = $(this).html()
                    }
                })
            }

            testResults['testResult'] = {outcome: testCaseOutcome, duration: testRunDuration, is_changed: is_changed};


            $(this).find('#passed_label').each(function () {
                if ($(this).hasClass('active')) {
                    testResults[index] = {
                        stepNum: index + 1,
                        outcome: 'Passed',
                        comment: comment,
                        editedAction: edited_action,
                        editedExpected: edited_expected
                    }
                }
            })
            $(this).find('#failed_label').each(function () {
                if ($(this).hasClass('active')) {
                    testResults[index] = {
                        stepNum: index + 1,
                        outcome: 'Failed',
                        comment: comment,
                        editedAction: edited_action,
                        editedExpected: edited_expected
                    }
                }
            })

        })
        let testCaseId = window.location.href.substr(window.location.href.lastIndexOf("/")).replace("/", "")
        $.ajax("/save_test_result/" + testCaseId, {
            data: JSON.stringify(testResults),
            contentType: 'application/json',
            type: 'POST',
            success: function () {
                window.location.href = window.location.href.substr(0,
                    window.location.href.lastIndexOf("/"))
                    .replace("run", "cases")
            }
        })

    })
</script>
<script>
    let stepNum;
    let suiteId;
    let rowToEdit;
    $('#tbl1').on("contextmenu", "td.step", function (event) {

        // Avoid the real one
        event.preventDefault();

        let thisRow = $(this);
        rowToEdit = thisRow
        stepNum = $(thisRow).parent().index();
        console.log(stepNum)

        // Show contextmenu
        $(".custom-menu").finish().toggle(50).
            // In the right position (the mouse)
            css({
                top: event.pageY + "px",
                left: event.pageX + "px"
            });
    });
    // If the document is clicked somewhere
    $(document).bind("mousedown", function (e) {
        if (!$(e.target).parents(".custom-menu").length > 0) {
            $(".custom-menu").hide(50);
        }
    });

    const recalcStepNumbers = function () {
        let tableRows = $('#tbl1 tr')
        for (let i = 0; i < tableRows.length; i++) {
            $(tableRows[i]).find('td:nth-child(1)').text(i + 1)
        }
    };

    const removeStepFromTable = function (realStepNumber) {
        $(`#tbl1 tr:eq(${realStepNumber - 1})`).remove();
        recalcStepNumbers();
    };

    const deleteTestStep = function (tcId, stepNumToDelete) {
        let data = {tc_id: tcId, step: stepNumToDelete}
        $.ajax({
            url: "/delete_test_step",
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json'
        }).done(function (responseData) {
            console.log(`Step ${stepNumToDelete} successfully removed.`);
            removeStepFromTable(stepNumToDelete);
        }).fail(function () {
            console.log(`Cannot delete step #${stepNumToDelete}. Internal Server Error...maybe :D`);
        });
    }

    const updateTestCaseStep = function (tcId, stepNumber, descr, expected, isNewStep) {
        if (isNewStep) {
            let objUpdate = {
                tc_id: tcId,
                step_num: stepNumber,
                descr: descr,
                expected: expected
            }
            console.log(objUpdate)
            $.ajax({
                url: "/add_step_to_the_test_case",
                data: JSON.stringify(objUpdate),
                type: 'POST',
                contentType: 'application/json'
            }).done(function (responseData) {
                console.log(`Updated`);
            }).fail(function () {
                console.log(`Internal Server Error...maybe :D`);
            });
        }
    }

    $(document).on('focusout', 'div.expected, div.action', function (e) {
        if (!$(e.originalEvent.relatedTarget).hasClass("action")) {
            if (!$(e.originalEvent.relatedTarget).hasClass("expected")) {
                console.log(e.originalEvent.relatedTarget)
                let stepNumber = $(this).parents('tr').first().index() + 1;
                let parentTd = $(this).parent('td.step')
                let tableLength = $('#tbl1 tr').length
                let descr = '';
                let expected = '';
                let isNewStep = false;
                if ($(parentTd).hasClass('new-step')) {
                    isNewStep = true
                }
                if ($(this).hasClass('expected')) {
                    expected = $(this).html()
                    descr = $(this).parent().find('div.action').html()
                } else if ($(this).hasClass('action')) {
                    descr = $(this).html()
                    expected = $(this).parent().find('div.expected').html()

                    $(this).removeClass('')
                }
                updateTestCaseStep(testCaseId, stepNumber, descr, expected, isNewStep)
                $(parentTd).removeClass('new-step');
            }
        }
    });


    // If the menu element is clicked
    $(".custom-menu li").click(function () {
        switch ($(this).attr("data-action")) {
            // A case for each action. Your actions here
            case "edit-step":
                if (userHasAdoAccess === true) {
                    if (rowToEdit.find('div.action').attr("contenteditable") !== 'true' || rowToEdit.find('div.expected').attr("contenteditable") !== 'true') {
                        $(rowToEdit).find('div.action').attr("contenteditable", "true");
                        $(rowToEdit).find('div.expected').attr("contenteditable", "true");
                        $(rowToEdit).addClass("edited");
                        let clickedDiv = $(this);
                    } else {
                        $(rowToEdit).find('div.action').attr("contenteditable", "false");
                        $(rowToEdit).find('div.expected').attr("contenteditable", "false");
                    }
                } else {
                    alert("You cannot update this test case in ADO.\nPlease, check your permissions and try again");
                }
                break;
            case "add-before":
                $("#tbl1  tbody tr.clickable-row").eq(stepNum).before(`
                <tr class="clickable-row">
                    <td>N</td>
                    <td class="step new-step">
                        <div class="action action-result" data-placeholder="Action..." style="white-space: pre-line; min-height: 15px;"></div>
                        <div class="expected action-result" data-placeholder="Expected Result..." style="white-space: pre-line; min-height: 15px;"></div>
                            <div class style="display: none">
                                <br/><label for="exampleFormControlTextarea1">Comment:</label>
                                <textarea class="form-control comment" id="exampleFormControlTextarea1"
                                          rows="3"></textarea>
                            </div>

                    </td>
                    <td class="selector">
                        <div class="btn-group btn-group-toggle " data-toggle="buttons">
                            <label class="btn btn-passed" id="passed_label">
                                <input type="radio" name="options" id="passed" autocomplete="off" value=""> Passed
                            </label>
                            <label class="btn btn-failed" id="failed_label">
                                <input type="radio" name="options" id="failed" autocomplete="off"> Failed
                            </label>
                        </div>
                    </td>
                </tr>
                `);
                recalcStepNumbers();
                break;
            case "add-after":
                $("#tbl1  tbody tr.clickable-row").eq(stepNum).after(`
                <tr class="clickable-row">
                    <td>N</td>
                    <td class="step new-step">
                        <div class="action action-result" data-placeholder="Action..." style="white-space: pre-line; min-height: 15px;"></div>
                        <div class="expected action-result" data-placeholder="Expected Result..." style="white-space: pre-line; min-height: 15px;"></div>
                            <div class style="display: none">
                                <br/><label for="exampleFormControlTextarea1">Comment:</label>
                                <textarea class="form-control comment" id="exampleFormControlTextarea1"
                                          rows="3"></textarea>
                            </div>

                    </td>
                    <td class="selector">
                        <div class="btn-group btn-group-toggle " data-toggle="buttons">
                            <label class="btn btn-passed" id="passed_label">
                                <input type="radio" name="options" id="passed" autocomplete="off" value=""> Passed
                            </label>
                            <label class="btn btn-failed" id="failed_label">
                                <input type="radio" name="options" id="failed" autocomplete="off"> Failed
                            </label>
                        </div>
                    </td>
                </tr>
                `);
                recalcStepNumbers();
                break;
            case "delete-step":
                if (confirm(`Delete step #${stepNum + 1}?`)) {
                    deleteTestStep(testCaseId, stepNum + 1);
                }
                break;
        }
        // Hide it AFTER the action was triggered
        $(".custom-menu").hide(100);
    });
</script>
<script>
    $(".attachment").hover(function () {
        $(this).next(".image-full").show();
    }, function () {
        $(this).next(".image-full").hide();
    });
</script>
</body>
</html>