<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


    <!-- Title Page-->
    <title>{{ test_suite_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Icons font CSS-->
    <link href="//static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>

    <!-- Main CSS-->
    <link href="/static/css/main.css" rel="stylesheet" media="all">


</head>
<body>
<nav class="navbar navbar-dark bg-primary navbar-expand-lg nav-fixed">
    <a class="navbar-brand" href="/suites">
        <img src="/static/css/running.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        TRunner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/suites">Test Suites<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/suites_manager">Suite Manager<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active dropdown-selector">
            <select class="form-control" id="suites-selector">
                {% for suite_id, suite_name in test_suite_dict.items() %}
                    <option class="select-option" value="{{ suite_id }}">{{ suite_name }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>
    <div class="navbar-collapse collapse  order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active action-items">
                <a class="nav-link" data-toggle="modal" data-target="#addCaseToSuite" data-backdrop="static"
                   data-keyboard="false">➕ Add<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active action-items">
                <a class="nav-link" id="deleteCaseFromSuite">➖ Delete<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle suite-create" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create Suite
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" data-toggle="modal" data-target="#addFromAdoQuery">📡️ &nbsp;From ADO
                        Query</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#createEmptySuite" href="">🕳 &nbsp;Empty
                        Suite</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#copyFromExistingSuite">📑 &nbsp;From
                        Existing Suite</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello, {{ username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/settings">⚙️ &nbsp;Settings</a>
                    <a class="dropdown-item" href="/logout">🚪 &nbsp;Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="addCaseToSuite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addToSuiteLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="search_input_modal"
                       onkeyup="searchTestCases('allCasesTable', 'search_input_modal')"
                       placeholder="Search for Test Cases..">

                <table class="table mt-3" style="text-align: center;" id="allCasesTable">
                    <thead class="bg-primary font-weight-light" style="color: #ffffff;">
                    <tr>
                        <th scope="col">Use</th>
                        <th scope="col">ID</th>
                        <th scope="col">Test Case</th>
                    </tr>
                    </thead>
                    {% for tc_id, tc_name in all_cases_dict.items() %}
                        <tr>
                            <td class="tc-id-checkbox"><input type="checkbox" class="add_to_suite_checkbox"
                                                              value="{{ tc_name[1] }}"></td>
                            <td>{{ tc_id }}</td>
                            <td>{{ tc_name[0] }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="modal-footer">
                <button class="align-self-end btn-index btn--radius-2 btn--blue" type="submit" name="btn"
                        id="SaveToSuite" value="addToTestSuite">Add Test Cases
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFromAdoQuery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-mg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Test Suite from ADO Query</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-space">
                    <div class="col-12">
                        <div class="input-group">
                            <input class="input--style-4 styled-input" type="text" name="query_id" id="query_id"
                                   placeholder="Query ID">
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="align-self-end btn-index btn--radius-2 btn--blue"
                                style="margin-left:50%; width: 220px;" type="submit" name="btn"
                                id="addSuite" value="addSuite">Add Suite
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createEmptySuite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-mg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Empty Suite</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-space">
                    <div class="col-12">
                        <div class="input-group">
                            <input class="input--style-4 styled-input" type="text" id="newSuiteName"
                                   placeholder="Test Suite Name">
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="align-self-end btn-index btn--radius-2 btn--blue"
                                style="margin-left:65%; width: 150px;" type="submit" name="btn"
                                id="createEmpty" value="createEmpty">Create
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="copyFromExistingSuite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-mg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Copy Test Suite</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-space">
                    <div class="col-12">
                        <div class="input-group">
                            <select class="form-control pretty-select" id="suites-selector-modal">
                                {% for suite_id, suite_name in test_suite_dict.items() %}
                                    <option value="{{ suite_id }}">{{ suite_name }}</option>
                                {% endfor %}
                            </select>
                            <input class="input--style-4 styled-input" type="text" id="copyFromNewName"
                                   placeholder="Test Suite Name">
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="align-self-end btn-index btn--radius-2 btn--blue"
                                style="margin-left:65%; width: 150px;" type="submit" name="btn"
                                id="createFromExisting" value="createFromExisting">Create
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="shifted-list">
        <input type="text" id="search_input" onkeyup="searchTestCases('test_cases_table', 'search_input')"
               placeholder="Search for Test Cases..">

        <table class="table mt-3" style="text-align: center;" id="test_cases_table">
            <thead class="bg-primary font-weight-light" style="color: #ffffff;">
            <tr>
                <th scope="col">Use</th>
                <th scope="col">ID</th>
                <th scope="col">Test Case</th>
            </tr>
            </thead>
            {#            {% for tc_id, tc_name in tc_data.items() %}#}
            {#                <tr class="test_case_row">#}
            {#                    <td><input type="checkbox" class="checked_tc" id="{{ tc_id }}"></td>#}
            {#                    <td>{{ tc_id }}</td>#}
            {#                    <td>{{ tc_name }}</td>#}
            {#                </tr>#}
            {#            {% endfor %}#}
        </table>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="../static/js/main.js"></script>

    <script>
        $(document).ready(function () {
            let firstOptionSuiteId = $("#suites-selector option:first").val();
            let testSuiteName = $("#suites-selector option:selected").text();
            $.ajax({
                url: "/get_suite_cases/" + firstOptionSuiteId,
                type: 'GET'
            }).done(function (responseData) {
                dataObject = JSON.parse(responseData);
                testCasesData = dataObject['suite_cases'];
                $('#test_cases_table tr.test_case_row').remove();
                Object.keys(testCasesData).map(function (tc_id, index) {
                    var value = testCasesData[tc_id];
                    $('#test_cases_table thead:last').after('<tr class="test_case_row">' +
                        '<td><input type="checkbox" class="checked_tc" value="' + tc_id + '"></td>' +
                        '<td class="tcid">' + value[4] + '</td>' +
                        '<td>' + value[0] + '</td>' +
                        '</tr>');
                });
                $('#addToSuiteLabel').text('Add to ' + testSuiteName);
            }).fail(function () {
                console.log('Failed');
                alert("Cannot test cases for suiteId" + firstOptionSuiteId + ". Internal Server Error");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#addSuite").click(function () {
                let queryId = $('#query_id').val();
                $(this).html(
                    `<span class="spinner-border" role="status" aria-hidden="true"></span> Processing...`
                );
                $.ajax({
                    url: '/add_test_suite_by_query_id/' + queryId,
                    type: 'GET',
                    contentType: 'application/json'
                }).done(function (responseData) {
                    location.reload();
                }).fail(function () {
                    alert('Access denied. Please check your ADO Token');
                    location.reload();
                });
            })


        });

    </script>


    <script>
        function searchTestCases(tableId, inputId) {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById(inputId);
            filter = input.value.toUpperCase();
            table = document.getElementById(tableId);
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>


    <script>
        $('#suites-selector').on('change', function () {
            let testSuiteId = $(this).val()
            let testSuiteName = $("#suites-selector option:selected").text();
            $.ajax({
                url: "/get_suite_cases/" + testSuiteId,
                type: 'GET'
            }).done(function (responseData) {
                dataObject = JSON.parse(responseData);
                testCasesData = dataObject['suite_cases'];
                $('#test_cases_table tr.test_case_row').remove();
                Object.keys(testCasesData).map(function (tc_id, index) {
                    var value = testCasesData[tc_id];
                    $('#test_cases_table thead:last').after('<tr class="test_case_row">' +
                        '<td class="check-container"><input type="checkbox" class="check-row" value="' + tc_id + '"></td>' +
                        '<td class="tcid">' + value[4] + '</td>' +
                        '<td>' + value[0] + '</td>' +
                        '</tr>');
                });
                $('#addToSuiteLabel').text('Add to ' + testSuiteName);

            }).fail(function () {
                console.log('Failed');
                alert("Cannot test cases for suiteId" + testSuiteId + ". Internal Server Error");
            });
        });
    </script>
    <script>
        $('#test_cases_table').on("change", "input[type=\"checkbox\"]", function () {
            if ($(this).closest('tr').hasClass('active')) {
                $(this).closest('tr').removeClass('active')
            } else {
                $(this).closest('tr').addClass('active')
            }
        });
        $('#allCasesTable').on("change", "input[type=\"checkbox\"]", function () {
            if ($(this).closest('tr').hasClass('active')) {
                $(this).closest('tr').removeClass('active')
            } else {
                $(this).closest('tr').addClass('active')
            }
        });
    </script>


    <script>
        $('#SaveToSuite').on('click', function (e) {
            let tcIds = [];
            let tcAdoIds = [];
            let tcNames = [];
            let suiteId = $('#suites-selector').val();
            $("#allCasesTable tr.active").each(function () {
                tcIds.push($(this).find('td.tc-id-checkbox').find('input').val())
                tcAdoIds.push($(this).find('td:nth-child(2)').text())
                tcNames.push($(this).find('td:nth-child(3)').text())
            });
            let updateData = {
                suiteId: suiteId,
                tcIds: tcIds
            }
            $.ajax({
                url: '/add_cases_to_suite/',
                data: JSON.stringify(updateData),
                type: 'POST',
                contentType: 'application/json'
            }).done(function (responseData) {
                console.log('Done: ', responseData);
                for (i = 0; i < tcNames.length; i++) {
                    $('#test_cases_table thead:last').after('<tr class="test_case_row">' +
                        '<td class="check-container"><input type="checkbox" class="check-row" id="' + tcAdoIds[i] + '"></td>' +
                        '<td class="tcid">' + tcAdoIds[i] + '</td>' +
                        '<td>' + tcNames[i] + '</td>' +
                        '</tr>');
                }
            }).fail(function () {
                alert('Cannot insert test cases into the suite. Internal Server Error');
            });
        });
    </script>


    <script>
        $("#deleteCaseFromSuite").on('click', function (e) {
            let tcsIdsToDelete = [];
            let tcsNamesToDelete = [];
            let suiteId = $('#suites-selector').val();
            $("#test_cases_table tr.active").each(function () {
                var testCaseId = $(this).closest('tr').find('td.tcid').text().trim();
                var tcsName = $(this).closest('tr').find('td:nth-child(3)').text().trim();
                tcsIdsToDelete.push(testCaseId);
                tcsNamesToDelete.push(tcsName);
            });
            if (confirm("Do you really want to delete following test cases from the suite?\n" + tcsNamesToDelete.join("\n"))) {
                let tcsToRemove = {ado_ids: tcsIdsToDelete}
                $.ajax({
                    url: '/delete_test_case/' + suiteId,
                    data: JSON.stringify(tcsToRemove),
                    type: 'POST',
                    contentType: 'application/json'
                }).done(function (responseData) {
                    console.log('Done: ', responseData);
                    $("#test_cases_table tr.active").each(function () {
                        $(this).remove();
                    });
                }).fail(function () {
                    alert('Cannot delete the test case. Only managers allowed to remove test cases from suites.');
                });
            }
        });
    </script>

    <script>
        $("#createEmpty").on('click', function (e) {
            let suiteName = $("#newSuiteName").val()
            objToCreate = {suiteName: suiteName}
            $.ajax({
                url: '/create_empty_suite/',
                data: JSON.stringify(objToCreate),
                type: 'POST',
                contentType: 'application/json'
            }).done(function (responseData) {
                console.log('Done: ', responseData);
                $.ajax({
                    url: '/get_suites_dict/',
                    type: 'GET',
                    contentType: 'application/json'
                }).done(function (responseData) {
                    console.log('Done: ', responseData);
                    let data_obj = jQuery.parseJSON(responseData)
                    let suites_obj = data_obj['suites']
                    $('#suites-selector > option').remove();
                    Object.keys(suites_obj).map(function (suite_id, index) {
                        var suiteName = suites_obj[suite_id];
                        $('#suites-selector')
                            .append($("<option></option>")
                                .attr("value", suite_id)
                                .text(suiteName));
                    });
                    $("#suites-selector option").filter(function () {
                        return $(this).text() === suiteName;
                    }).prop('selected', true);
                    $('#test_cases_table tr.test_case_row').remove();

                }).fail(function () {
                    alert('Cannot update suites dropdown. Please, reload the page');
                });
            }).fail(function () {
                alert('Cannot create an empty suite. Internal Server Error');
            });
        });
    </script>
    <script>
        $("#createFromExisting").on('click', function (e) {
            let copyFromSuiteId = $('#suites-selector-modal').val()
            let newTestSuiteName = $('#copyFromNewName').val()
            let objToSend = {newName: newTestSuiteName, targetSuiteId: copyFromSuiteId}
            $.ajax({
                url: '/create_suite_from_existing',
                type: 'POST',
                data: JSON.stringify(objToSend),
                contentType: 'application/json'
            }).done(function (responseData) {
                console.log('Done: ', responseData);
                location.reload();
            }).fail(function () {
                alert('Cannot copy the suite. Internal Server Error');
            });

        });
    </script>
</div>
</body>
</html>